<div class="cart">
  <div
    class="empty-cart d-flex flex-column align-items-center"
    *ngIf="!cartItems.length"
  >
    <h1 class="text-large text-theme mb-50 mt-5">Sorry!</h1>
    <img
      src="../../assets/images/Empty cart illustration.jfif"
      class="cart-empty-img"
      alt=""
    />
    <h1 class="mt-4">No Items in your cart</h1>
    <h3 class="">Add Item to continue shopping</h3>
    <p>
      Click to continue shopping
      <a (click)="goToHome()" class="link">Shop Now</a>
    </p>
  </div>

  <div
    class="cart-content d-flex justify-content-between p-5"
    *ngIf="cartItems.length"
  >
    <div class="items-container me-5">
      <app-cart-item
        [item]="cartItem"
        *ngFor="let cartItem of cartItems"
      ></app-cart-item>
    </div>
    <div>
      <app-price-details></app-price-details>
      <button class="btn-theme btn-checkout">Checkout</button>
    </div>
  </div>
</div>
