<div class="slider">
  <div class="sliderWrapper">
    <div class="sliderItem">
      <img src="../../assets/images/mainimg.jpg" alt="main img" class="sliderImg" />
      <div class="sliderBg"></div>
      <h3 class="sliderTitle">
        "If you don't like to read,<br />
        you haven't found <br />
        the right book."<br />
        --J.K.Rowling
      </h3>
    </div>
  </div>
</div>

<div class="features">
  <div class="feature">
    <img src="../../assets/images/shipping.png" alt="" class="featureIcon" />
    <span class="featureTitle">FREE SHIPPING</span>
    <span class="featureDesc">Free worldwide shipping on all orders.</span>
  </div>
  <div class="feature">
    <img class="featureIcon" src="../../assets/images/return.png" alt="" />
    <span class="featureTitle">30 DAYS RETURN</span>
    <span class="featureDesc"
      >No question return and easy refund in 14 days.</span
    >
  </div>
  <div class="feature">
    <img class="featureIcon" src="../../assets/images/gift.png" alt="" />
    <span class="featureTitle">GIFT CARDS</span>
    <span class="featureDesc">Buy gift cards and use coupon codes easily.</span>
  </div>
  <div class="feature">
    <img class="featureIcon" src="../../assets/images/contact.png" alt="" />
    <span class="featureTitle">CONTACT US!</span>
    <span class="featureDesc">Keep in touch via email and support system.</span>
  </div>
</div>

<div class="product" id="product">
  <img
    src="../../assets/images/Harry Potter 💞 uploaded by Roots LoVe on We Heart It.jfif"
    alt=""
    class="productImg"
  />
  <div class="productDetails">
    <h3 class="productTitle">"Books are a uniquely portable magic"</h3>
    <h2 class="author">--Stephen King</h2>

    <button class="productButton" routerLink="/home">
      Check out all books!
    </button>
  </div>
</div>
<h1 class="best-sellers mt-4 mx-4">Our Best Sellers-</h1>
<div class="gallery">
  <div class="galleryItem">
    <img
      src="https://images.penguinrandomhouse.com/cover/9780143130727"
      alt=""
      class="galleryImg"
    />
  </div>
  <div class="galleryItem">
    <img
      src="https://cdn.kobo.com/book-images/24463cb4-28ad-48cb-807f-158cf6d11a92/353/569/90/False/atomic-habits-tiny-changes-remarkable-results.jpg"
      alt=""
      class="galleryImg"
    />
  </div>
  <div class="galleryItem">
    <h1 class="galleryTitle"></h1>
    <img
      src="https://m.media-amazon.com/images/I/416T7uchqcL.jpg"
      alt=""
      class="galleryImg"
    />
  </div>
</div>
<div class="newSeason">
  <div class="nsItem">
    <img
      src="https://images.pexels.com/photos/256450/pexels-photo-256450.jpeg?auto=compress&cs=tinysrgb&w=600"
      alt=""
      class="nsImg"
    />
  </div>
  <div class="nsItem">
    <h3 class="nsTitleSm">New Books Have Arrived</h3>
    <h3 class="nsTitle">Click Below</h3>
    <h3 class="nsTitle">To Explore the World of Books</h3>
    <a href="#nav">
      <button class="nsButton" routerLink="/home">CLICK ME</button>
    </a>
  </div>
  <div class="nsItem">
    <img
      src="https://www.frontlist.in/storage/uploads/2021/06/BeLessAwful.com-Jay-Shetty_Think-Like-a-Monk-book.jpg"
      alt=""
      class="nsImg"
    />
  </div>
</div>
<footer>
  <div class="footerLeft">
    <div class="footerMenu">
      <h1 class="fMenuTitle">About Us</h1>
      <ul class="fList">
        <li class="fListItem">Company</li>
        <li class="fListItem">Contact</li>
        <li class="fListItem">Careers</li>
        <li class="fListItem">Affiliates</li>
        <li class="fListItem">Stores</li>
      </ul>
    </div>
    <div class="footerMenu">
      <h1 class="fMenuTitle">Useful Links</h1>
      <ul class="fList">
        <li class="fListItem">Support</li>
        <li class="fListItem">Refund</li>
        <li class="fListItem">FAQ</li>
        <li class="fListItem">Feedback</li>
        <li class="fListItem">Stories</li>
      </ul>
    </div>
    <div class="footerMenu">
      <h1 class="fMenuTitle">Best Products</h1>
      <ul class="fList">
        <li class="fListItem">Harry Potter</li>
        <li class="fListItem">3 Mistakes of my life</li>
        <li class="fListItem">IKIGAI</li>
        <li class="fListItem">The Tales Of Two Cities</li>
        <li class="fListItem">Rich Dad Poor Dad</li>
      </ul>
    </div>
  </div>
  <div class="footerRight">
    <div class="footerRightMenu">
      <h1 class="fMenuTitle">Subscribe to our newsletter</h1>
      <div class="fMail">
        <input type="text" placeholder="your@email.com" class="fInput" />
        <button class="fButton">Join!</button>
      </div>
    </div>
    <div class="footerRightMenu">
      <h1 class="fMenuTitle">Follow Us</h1>
      <div class="fIcons">
        <img src="../../assets/images/facebook.png" alt="" class="fIcon" />
        <img src="../../assets/images/twitter.png" alt="" class="fIcon" />
        <img src="../../assets/images/instagram.png" alt="" class="fIcon" />
        <img src="../../assets/images/whatsapp.png" alt="" class="fIcon" />
      </div>
    </div>
    <div class="footerRightMenu">
      <span class="copyright">©️ Archit Sharma All rights reserved 2024.</span>
    </div>
  </div>
</footer>
